/models/
/data/
/uploads/
/.venv/
/.idea/
/__pycache__
/deep_rice_env/
/chroma_db/
/tensorflow_env/
/mongo_data/
*.pyc
mongo_data/diagnostic.data/metrics.interim
mongo_data/journal/WiredTigerLog.0000000009
